@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Current Environment: @ViewData["Environment"]</h1>
    <h1 class="display-4">@ViewData["HelloMessage"]</h1>
    <p>CI/CD demo project - docker compose testing</p>
</div>
